In [15]:
# 1463 : 1로 만들기

#정수 X에 사용할 수 있는 연산은 다음과 같이 세 가지 이다.

#X가 3으로 나누어 떨어지면, 3으로 나눈다.

#X가 2로 나누어 떨어지면, 2로 나눈다.

#1을 뺀다.

#정수 N이 주어졌을 때, 위와 같은 연산 세 개를 적절히 사용해서 1을 만들려고 한다. 

#연산을 사용하는 횟수의 최솟값을 출력하시오.

#n = int(input())
n = 10
arr = [0 for _ in range(n+1)]
arr[1] = 0
for i in range(2, n+1):
    print(arr)
    arr[i] = arr[i-1] + 1
    if i % 2 == 0:
        arr[i] = min(arr[i], arr[i//2]+1)
    if i % 3 == 0:
        arr[i] = min(arr[i], arr[i//3]+1)
    print(arr)
    print(arr[n])

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0]
0
[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0]
0
[0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 1, 1, 2, 0, 0, 0, 0, 0, 0]
0
[0, 0, 1, 1, 2, 0, 0, 0, 0, 0, 0]
[0, 0, 1, 1, 2, 3, 0, 0, 0, 0, 0]
0
[0, 0, 1, 1, 2, 3, 0, 0, 0, 0, 0]
[0, 0, 1, 1, 2, 3, 2, 0, 0, 0, 0]
0
[0, 0, 1, 1, 2, 3, 2, 0, 0, 0, 0]
[0, 0, 1, 1, 2, 3, 2, 3, 0, 0, 0]
0
[0, 0, 1, 1, 2, 3, 2, 3, 0, 0, 0]
[0, 0, 1, 1, 2, 3, 2, 3, 3, 0, 0]
0
[0, 0, 1, 1, 2, 3, 2, 3, 3, 0, 0]
[0, 0, 1, 1, 2, 3, 2, 3, 3, 2, 0]
0
[0, 0, 1, 1, 2, 3, 2, 3, 3, 2, 0]
[0, 0, 1, 1, 2, 3, 2, 3, 3, 2, 3]
3

In [27]:
# 9095 : 1,2,3 더하기

# 정수 4를 1, 2, 3의 합으로 나타내는 방법은 총 7가지가 있다.

# 합을 나타낼 때는 수를 1개 이상 사용해야 한다.

# 1+1+1+1
# 1+1+2
# 1+2+1
# 2+1+1
# 2+2
# 1+3
# 3+1
# 정수 n이 주어졌을 때, 
# n을 1, 2, 3의 합으로 나타내는 방법의 수를 구하는 프로그램을 작성하시오.

input = 10

# 정수 1일때는 1개의 경우의 수

# 정수 2일때는 2개의 경우의 수

# 정수 3일때는 4개의 경우의 수

int_list = [1,2,4]

for i in range(4,11):
    int_list.append(sum(int_list[-3:]))
    
print(int_list)

print(int_list[input-1])

[1, 2, 4, 7, 13, 24, 44, 81, 149, 274]
274